[2017-01-12 01:57] kielejocain opened #1 "Receive and normalize 5 years of PF&R data"
- [x] Have Mark upload data to team Google Drive
 - [x] Pull data from Access
 - [x] Upload/normalize in EC2
Mark Whitaker has expressed that he is hoping to get the last five years of ER data into a sufficiently privacy-free state and get it to us by the end of the week.  That data will need to be normalized and put into our AWS database so that the rest of us can access it.

[2017-01-12 02:05] kielejocain opened #2 "Define input and output parameters for simulator"
We need to define what the simulator will take in and return, probably in coordination with the OSU professors.

[2017-01-12 02:05] kielejocain opened #3 "Consider other data sources"
Are there any other bits of data (e.g. census, weather, events) that we want to include in the analytics?

[2017-01-12 02:08] kielejocain opened #4 "Collect other data sources"
Once the other data sources have been identified, they should be sourced, normalized, and put in a place that our team/APIs can access them.

Blocked by #3

[2017-01-12 02:16] kielejocain opened #5 "Replicate PF&R time metrics"
As a start to the analytics, we'll want to at least replicate the metrics that PF&R use to measure success on their own.  C.f. [the Wiki](https://github.com/hackoregon/emergency-response/wiki/2016-12-21-Meeting-Notes) to see a brief rundown of those metrics, and feel free to discuss in here.

Blocked by #1

[2017-01-12 02:17] kielejocain commented on #1
I should probably take point on the receiving of the data, at least in terms of communicating with Mark and letting interested parties know when he's done.

[2017-01-12 02:25] kielejocain commented on #5
I'll also need to confirm with Mark what the various benchmarks are, as it doesn't appear anyone wrote down the specific numbers (please reply with them if you did!).

[2017-01-13 02:22] rcallihan commented on #2
Is reapplying this the OSU simulator the official route we're taking? One consideration is our data has less resolution than the OSU study because we're obscuring incident locations to fire blocks. I don't expect it to be an issue, but I'm not sure of the sensitivity of the OSU model.

[2017-01-13 19:46] futurechris commented on #2
Based on the call notes (https://github.com/hackoregon/emergency-response/wiki/2016-12-22-Call-Notes) I believe the intent is to float the simulator as a parallel, longer-term track we could pursue. **This would definitely be the lower priority track right now, though.**

Due to our abbreviated schedule, we'll need to make sure we prioritize producing at least an MVP for the March demo day, and th

[2017-01-17 19:44] sky-t opened #6 "Define approach for basing GIS/shapefile data"
Although we have put the initial dispatch data samples from PF&R into the AWS fire database, we have not loaded the shapefiles also received and QA'd by Ryanc. To my understanding, we are holding off on loading any files pending a decision on whether Hack OR will go with a centralized store of GIS data supporting all teams, or a decentralized approach where each team will maintain their own store

[2017-01-17 22:07] znmeb commented on #6
The last I heard from Sanjuro, we are building an AWS PostgreSQL / PostGIS instance for each project specifically so the teams can upload data. So if you have shapefiles, talk to Sanjuro in Slack.

If we later see a need to centralize it is not difficult to merge tables / databases from separate PostGIS instances into a single one, but it is a task that will take effort from a person. ;-)

[2017-01-18 23:55] futurechris opened #7 "PF&R Performance Dashboard"
Notes from the meeting on 12/21/2017 with PF&R's Mark Whitaker indicated that a sort of "performance dashboard" would be one of the things that PF&R is most interested in.

Per Ryanc's notes:
* The dashboard would breakdown metrics into meaningful geographic units (FMA's (Fire Management Area), Fire Blocks)
  * Mostly concerned with response time for high priority medical calls and actual fire eme

[2017-01-19 00:01] futurechris opened #8 "FMA Profiles"
Mark Whitaker mentioned that PF&R is interested in having readily accessible information about makeup of the different FMAs (fire management areas).

PF&R is interested in knowing/seeing, for each FMA:
* Mapped PF&R Data
  * Response times
  * Incident counts
  * Types of incidents
* General information (census, etc.) about the FMA
  * ...

Generally, the new fire head wants to get PF&R more in tu

[2017-01-19 00:10] futurechris opened #9 "Analyze/display differences/changes in resource allocation"
PF&R expressed interest in an analysis of how resource allocation and service quality fluctuate, both over time and geographically.

E.g. are response times getting longer for such-and-such fire block due to changes in traffic/road conditions?

This could be fairly straightforward, something like a fuzzy map of these variables given a certain date, and then a slider to shift the window being displ

[2017-01-19 00:18] futurechris opened #10 "Fire block response order evaluation"
This is probably the hardest general project the ER team has looked at so far, though it has potential to be high-impact.

From Ryanc's 12/21/2017 notes:
* Each has fire block as an associated response order for emergency vehicles
  * Does this order make sense given the drivetime/response time from station to scene of incident?
  * Does the order make sense given available resources at each stati

[2017-01-19 00:27] futurechris opened #11 "Discuss the story we want to tell"
My impression of the 'cards' tool is that it's going to be well-suited to telling a sequential story about some particular space of data. I think we should discuss what that story might be for our team.

In our case, we already know some things we can include in that story such as:
* the surprising ratio of fire calls vs. health calls for PF&R (~3/4ths of the 70-80k calls per year)
* that the new

[2017-01-19 00:32] futurechris opened #12 "Analyzing rate of 'false alarms'?"
Mark Whitaker mentioned some interest in this topic/statistic.

Essentially, calls come in that are ostensibly about a fire, but turn out to not be a significant fire emergency, or a fire at all.

I don't recall the causes of these, or what exactly PF&R would use the information for, but I seem to remember a hypothetical being discussed where, say, some building had had PF&R called out repeatedly

[2017-01-19 01:03] rcallihan commented on #7
This seemed to be the big ticket item that was most useful to PF&R. We should definitely put thought into pursing it.

If we keep the metrics simple, the analysis side is mostly straightforward - ie aggregating values from smaller areas (fire blocks, census tracts/blocks) into larger areas (Fire Management Areas).

Though before pursuing, we should talk with the front-end to see what's reasonable

[2017-01-19 02:38] hannahkane commented on #11
Things that might be of interest to Fire bureau and the public:
* Are areas served equitably?
 * Response times laid over demographics?

[2017-01-19 02:41] meganmckissack commented on #11
- visualizing how many responses are medical rather than fire
- how many of these are related to homelessness

[2017-01-19 02:43] kielejocain commented on #3
Any way to capture lack of fire/CO alarms?  Can we say (with data) how important those issues might be?

[2017-01-19 03:03] hannahkane opened #13 "Wireframes for dashboard"
Goal: Show how users will interact with the data; what data they can manipulate and how it changes the interface

Examples:
- How does user select particular geographic areas? Can they select multiple areas?
- How does user add time constraints as a filter?
- How does user choose which data to display?

Deliverable: wireframe with layout and user interactions

[2017-01-19 03:05] meganmckissack commented on #13
example of visualization of movement over time
http://siliconflorist.com/2014/09/19/fro-visualizing-car2go-migratory-patterns-portland/

[2017-01-19 03:07] hannahkane opened #14 "Create mockups for dashboard"
Based on wireframes in #13, provide design mockups and assets for final product.

[2017-01-19 03:11] flamingveggies opened #15 "How are we implementing mapping?"
React?
Leaflet?
React-Leaflet?

Maybe ask David of the best mapping stack to integrate into existing Hack Oregon architecture.

[2017-01-19 03:17] flamingveggies opened #16 "how to build for both civic platform and standalone dashboard"
how do we need to build our react components to easily create a 'card' view and a 'dashboard' standalone view?

what is common code and what is view-specific?

[2017-01-19 03:19] flamingveggies opened #17 "project currently lacks front-end"
build one

[2017-01-19 03:21] BrianHGrant opened #18 "Authorization and Authentication"
Who will be able to access the API?

Authentication via JSON token or other mechanism, any limits on usage?

What authorizations will be given and how is data updated?

[2017-01-19 03:26] BrianHGrant opened #19 "API structure"
How should API be structured to ease use of end user, tell story.

Format around incident, type, location?

Microservices or monolithic api?

Will data be served raw or based on analysis

[2017-01-19 03:29] flamingveggies opened #20 "what's in the dashboard?"
-map
-legend
-splash screen/intro/about/help
-geolocate/where am i/where's my firestation
-filters/selectors for below things:

-response times by geographic area
-also by type of incident
-also by time of day/week/year/decade

-time lapse mode

[2017-01-19 03:41] futurechris opened #21 "Compute income distribution metrics"

[2017-01-19 03:41] futurechris opened #22 "Compute demographic distribution metrics"

[2017-01-19 03:41] futurechris opened #23 "Compute population density metrics"

[2017-01-19 03:42] futurechris opened #24 "Compute zoning distribution metrics"

[2017-01-19 03:42] kielejocain commented on #21
This is blocked by #4

[2017-01-19 03:42] futurechris opened #25 "Compute false alarm metrics"

[2017-01-19 03:43] futurechris opened #26 "Compute response times metrics"

[2017-01-19 03:43] kielejocain commented on #22
Blocked by #4

Edit: #4 broken up into tasks; now blocked by #38

[2017-01-19 03:43] kielejocain commented on #23
Blocked by #4

Edit: As #4 has been broken into tasks, this is now blocked by #38

[2017-01-19 03:43] kielejocain commented on #24
Blocked by #4

Edit: As the zoning data now has its own issue, this is blocked by #41

[2017-01-19 03:44] futurechris opened #27 "Compute high vs. low incident priority metrics"
Fire emergencies vs. non
Medical emergencies vs. non

etc.

[2017-01-19 03:44] BrianHGrant commented on #19
Also will we be providing endpoints to access data from any outside APIs

[2017-01-19 03:44] futurechris opened #28 "Compute various time roll-ups"
Incidents by hour/day of week/time/moon phase/holiday

[2017-01-19 03:46] BrianHGrant opened #29 "API Documentation"
How will API and endpoints be documented, will automated service such as Swagger provide adequate coverage? Other tools, and will be hosted

[2017-01-19 03:46] kielejocain commented on #25
Blocked by #1

[2017-01-19 03:46] kielejocain commented on #26
Blocked by #1

[2017-01-19 03:47] kielejocain commented on #27
Blocked by #1

[2017-01-19 03:47] kielejocain commented on #28
Blocked by #1

[2017-01-19 03:58] hannahkane commented on #3
Real estate and/or zoning data about age of buildings

[2017-01-19 04:06] russellgould opened #30 "Develop tool to allocate Census Block/Tract values to FMA boundaries"
Develop tool to allocate values to from Census spatial data to FMA boundaries using an area-weighted proportioning approach.

This will initially be developed using spatial queries in PostGres and PostGIS.

Output may be a lookup table that ties Census Tract ID's to Fire Management Areas and would include a value that represents the area Census Tracts that overlap a coincident Fire Management Area

[2017-01-19 04:09] futurechris opened #31 "First round of burning questions for PF&R"
Someone else's pun.

Feel free to add comments with any domain knowledge questions you would like answered by our PF&R rep Mark Whitaker.

Once we get this block answered, the answers should be moved to the wiki and a new ticket should be created for the next round of questions.

[2017-01-19 04:10] hannahkane commented on #31
What are the sources of calls? Do they all come in via 911? How is it determined that a call goes to the Fire Dept?

[2017-01-19 04:34] rcallihan commented on #30
Simple workflow for creating a table with the area weightings:

Target = FMA
Source = Census Blocks (Only those that intersect with FMA's)

1) Calculate Area on the Target Data

2) Spatial Union the Target and Source Data

3) Calculate Area on the Union Layer

4) Aggregate (via sum) area value using by on Target ID AND Source ID.

5) Calc "Summed Source Area / Target Area"

[2017-01-19 04:41] rcallihan commented on #30
Here's the methodology from a past HO project using PG queries. This should work for us as well.

https://github.com/hackoregon/urbandev-etl/blob/master/convert/POSTGIS_AREAL_INTERPOLATION_README.md

[2017-01-19 04:45] flamingveggies opened #32 "Moar Puns"

[2017-01-19 04:47] sky-t commented on #31
In the inctimes table, some incident_ids have repeated timedesc_ids. Why do these occur? For instance, incident_id 1102989 has 3 timedesc_id labeled 3. Sometimes the timestamps are the same among all the rows and other times, they are different. Knowing why they occur will help us understand how to treat these rows.

[2017-01-19 04:53] sky-t commented on #30
Task list for next week:

- [x] grab census tract shapes from ryan's repo and put up on EC2

- [x] individually try to write query/queries in postgres to create FMA-census block table

[2017-01-19 06:17] russellgould opened #33 "Create branch for vagrant box"
Need to merge my personal repo containing the vagrant boxed version of our db into a new branch here for accessibility.

[2017-01-20 07:11] BrianHGrant opened #34 "Create Incident API"
Issue is to create a model API to expose incident reports within the vagrant box.

[2017-01-22 19:31] russellgould commented on #33
Should be all done, I've moved this issue into "for review" if someone or a few people could try cloning my fork to see if the vagrant box works on their systems. https://github.com/russellgould/emergency-response/tree/vagrant_testbox

[2017-01-23 03:31] BrianHGrant commented on #33
I followed the steps, downloaded the database as directed, and was able to boot up the box without problem, I am on a MacBook Pro with El Capitan. The database opened fine for me with pgadmin3 and information provided.

[2017-01-23 03:47] russellgould commented on #33
Awesome, thanks for checking it! I also booted it up on a Windows system myself and it went fine, but I'm still not entirely sure how to merge this branch/repo into the main one so I'll leave the issue open for now until it's merged.

[2017-01-24 18:34] BrianHGrant commented on #33
I submitted a PR for a small update to the box on your fork. It will open up a port to forward to host box. It makes it easier to interact with the API.

[2017-01-24 18:50] BrianHGrant commented on #34
I have began some work on creating a preliminary API. It currently lives here: [https://github.com/BrianHGrant/emergency-response/tree/incident_api](url). The instructions in the readme should allow you to boot up the vagrant box, run the api, and connect through your host machine's browser or something like postman using port 4546.

The process for creating this was pretty quick and dirty, I used

[2017-01-24 19:06] BrianHGrant opened #35 "Memory strain"
Due to the complexity of the incident model, the local hosted api is having difficulties accessing and serving the incidents data. I believe this might be do to the data allocation to postgresql itself as I experimented in boosting the vagrant box from 2gb RAM to 4gb RAM and did not notice a difference.

Symptoms: When attempting to access incidents endpoint through browser, will freeze and eventu

[2017-01-24 19:06] BrianHGrant commented on #34
blocked by #35

[2017-01-24 19:15] BrianHGrant opened #36 "InvalidOperation on Fireblocks endpoint"
Running into an issue on the fireblocks endpoint I have not been able to resolve. This is the stacktrace I am receiving:

`Internal Server Error: /fireblocks
Traceback (most recent call last):
  File "/home/vagrant/miniconda3/envs/cvdjango/lib/python3.5/site-packages/django/core/handlers/exception.py", line 39, in inner
    response = get_response(request)
  File "/home/vagrant/miniconda3/envs/cvd

[2017-01-24 19:16] BrianHGrant commented on #34
blocked by #36

[2017-01-25 04:37] markawhitaker commented on #31
@hannahkane Almost all calls come through 9-1-1. The dispatchers at the Bureau of Emergency Communications (BOEC) are trained to determine whether the call should go to police, fire, or ambulance or some combination of those. There are some incidents where a patient may just show up at the fire station or where the engine may be out driving around and spot a fire or car accident. Also after initia

[2017-01-25 04:45] markawhitaker commented on #31
@sky-t The simplest answer is that some incidents have more than one responder. So if both a fire engine and an ambulance are dispatched to a scene, then there will be a dispatch time for the engine and for the ambulance, each in a separate row. The specific apparatus for each row is identifid by the responder_id field in the inctimes table. If the responder_id field is blank that refers to an act

[2017-01-25 05:17] kielejocain commented on #1
Mark has uploaded the data!

https://drive.google.com/open?id=0B8q4DSMi3du4Z2luR0Q2RjNUc3c

[2017-01-25 05:54] russellgould commented on #1
Hooray! I'll get started on checking it out and working on uploading it to the DB.

[2017-01-25 05:55] russellgould commented on #1
I assigned myself since I'll be doing the normalizing.

[2017-01-25 06:21] znmeb commented on #35
Is this your own Vagrant box or the one I built? What's your host machine? You can hit me up in Slack or if you want we can meet somewhere - I used to do this performance stuff for a living.

[2017-01-25 06:27] russellgould commented on #34
Hey so as to the relationships between tables: they currently exist in the model, but when I tried enforcing them the data wouldn't upload due to the data not being fully encapsulated. I was waiting to see when we got the much larger dataset if this would fix it, and since we just got that we will have to wait and see if it completes everything. If not we'll have to ask someone with much more data

[2017-01-25 07:42] russellgould opened #37 "Rebuild database with new data set"
The new data we got is (I think, maybe) everything from 6am Jan 1st, 2010, through 1am Jan 1st, 2017. As such we don't need the previous data set we have in our database. Additionally, this new data has some extra columns in (at least one of) the important tables, so we will probably just get rid of what we previously had and replace it with the new hotness.

[2017-01-25 16:58] rcallihan commented on #24
Is this referring to City of Portland zoning? If so, I can help get this data.

[2017-01-25 21:59] BrianHGrant commented on #35
Thank you,

I will message you on slack but here is the box we are working with:

[https://github.com/russellgould/emergency-response/tree/vagrant_testbox](url). @russellgould and our database team can speak more to the specific build, but I believe is based on information provided in the Hack U. database course.

[2017-01-25 22:29] znmeb commented on #35
Ah ... OK. I'm looking at it now. Two notes so far:

1. You're building on "trusty64". That's Ubuntu 14.04 - the data architecture class worked with Ubuntu 16.04 (Xenial Xerus) and unless it breaks something in your applications I'd recommend moving to "xenial64".

2. We built a Vagrant box with everything we believed was necessary for the applications - PostgreSQL, PostGIS, Django (including the

[2017-01-25 22:47] sky-t commented on #35
The vagrant box we built as part of our database engineering class last Fall was based on trusty64, so we initially went with what we had experience with. We need to update the db repo anyway to update the box to incorporate the the new full dataset we got from PF&R. We can use Xenial in the next update (tonight).

[2017-01-25 22:59] znmeb commented on #35
OK ... I'm looking at the provisioning now and it looks like you could build on top of our Vagrant box - you'd just need to add a script for the things we don't have yet to https://github.com/hackoregon/getting-started/tree/master/datascience/linux-laptop-setup and run the build process.

If you want to use our build, open an issue with the things you need added and I'll add them.

[2017-01-25 23:13] russellgould commented on #35
First off thanks for looking at this stuff @znmeb! But yeah as Scott (@sky-t) mentioned I simply used what we had been using in the database course as a base. I didn't realize there was a more central vagrant box to be used. The data set we just received is about five times the size of what we had previously, so if there's a performance difference in the vagrant boxes it would be helpful to sort i

[2017-01-25 23:28] BrianHGrant commented on #35
@russellgould we wouldn't be this far without all your work, so thank you so much. I'm a noob as well so its a good learning experience for me as well.

[2017-01-26 02:19] kielejocain commented on #24
It is; if you know where to find it that would be awesome

[2017-01-26 02:47] hannahkane commented on #31
What is the difference between TimeDesc_ID 0 and TimeDesc_ID 1? Why do some entries not have a 1?

[2017-01-26 02:50] futurechris commented on #31
Augmenting this with a bit from Mark @ 1/25 meeting. I asked about situations we'd observed in the data where two separate inctimes were very distant, e.g. first one was in September 2015, second was January 2016. Mark explained that this would depend on the responder unit, but could be explained by a follow-up investigation, etc. Or, could be erroneous data. Case-by-case.

We may want to do some

[2017-01-26 03:06] futurechris opened #38 "Acquire census data"
Changing this to just be the census data ticket.

 - [ ] Where do we want to store this?
 - [ ] Store in raw form or analyzed?

[2017-01-26 03:08] futurechris commented on #21
Now blocked by #38 instead

[2017-01-26 03:12] futurechris commented on #4
Beyond census data - are there any more-frequently updated sources out there that anyone knows about?

Zillow?

[2017-01-26 03:13] hannahkane opened #39 "figure out how to get Code to Scene column"
cc @markawhitaker

[2017-01-26 03:15] kielejocain opened #40 "Create Data Dictionary"
Collate information provided by Mark about the various PF&R data into a codebook

[2017-01-26 03:30] futurechris commented on #31
What data does the public education dept. have about # of homes with a smoke and/or carbon monoxide alarm?

[2017-01-26 03:36] kielejocain commented on #3
It seems the consensus that we'll get census and zoning data, but not weather or events.  Also, Mark is going to ask if PF&R have access to smoke/CO alarm distribution.  I'm closing this and opening other tickets for the individual tasks.

[2017-01-26 03:36] #3 closed

[2017-01-26 03:40] kielejocain opened #41 "Collect City of Portland Zoning Data"
As we have decided to attempt to use zoning data, and as Ryan has suggested he can get it, here's an issue we can close when it's done.

[2017-01-26 03:41] futurechris commented on #40
My random notes:

- If an incident has both TimeDesc_ID 0 and 1, the '0' represents the start.
- Some incidents may not have a 0/1/2 for TimeDesc_ID, which may indicate something like a truck driving along when they see a fire or other incident, so they stop.
- AMR is the ambulance company
- AMR does TimeDesc_ID 9 for 'left the scene with a patient', 10 for 'arrived at hospital'
- Mark is interest

[2017-01-26 04:13] matthino opened #42 "Allow a general user to select their fire block by entering their home address"
Potential application for this might be letting the user see information about incidents that happen near them.

[2017-01-26 04:18] matthino opened #43 "Allow a general user to select a fire block by clicking on it"
Use case: User wants to browse different geographic areas or compare incident or response information across different areas.

[2017-01-26 08:45] znmeb commented on #35
As I noted in a Slack direct message, a 6 GB allocation does work. However, the time for a response to the browser on first connect is on the order of minutes. It looks like the Python code is generating a page and is using 100 percent of a processor thread during that time.

Please let me know either here on this issue or on Slack if you have a revised Vagrant box you want me to test. I'll start

[2017-01-26 17:46] markawhitaker commented on #39
@hannahkane I misspoke on this last night. The code to scene field is already included in the Responder table, which makes sense: for each incident and responderunit, there is a corresponding code to scene. I'll follow up with a description of what the values in the codetoscene field represent.

[2017-01-26 17:52] hannahkane commented on #39
Great. Thanks, @markawhitaker. Going to close this ticket. Let's maintain all descriptions of the data in #40 moving forward.

[2017-01-26 17:52] #39 closed

[2017-01-26 23:24] hannahkane commented on #4
Wondering if we can close this in light of #38 and #41? Any objections?

[2017-01-26 23:26] kielejocain commented on #4
That's fine with me.  I'll update the blockage for 21-24 as well.

[2017-01-26 23:28] #4 closed

[2017-01-26 23:30] kielejocain commented on #12
Related to #25

[2017-01-26 23:31] kielejocain commented on #5
Seems to be encapsulated by #28; closing.  Feel free to re-open if you feel differently

[2017-01-26 23:31] #5 closed

[2017-01-26 23:34] kielejocain commented on #39
I'll be sure to add this to the data dictionary #40

[2017-01-27 02:45] rcallihan commented on #24
Can someone further define the metrics we want here? Knowing will help me set up the data appropriately. I may need to aggregate Portland's zoning classes into simpler classes (also possibly Gresham's as well). Two things I imagine we're measuring, but if there's something else, let me know:

- Calculating total area of each zoning class per FMA. This would helpful in profiling a given FMA.
- Inte

[2017-01-27 07:10] kielejocain commented on #40
I've given a first go to the Data Dictionary.  Please review and let me know what you think.

[link](https://github.com/hackoregon/emergency-response/wiki/Data-Dictionary)

[2017-01-27 07:11] BrianHGrant commented on #35
So my pagination was not working correctly, when accessing the browsable api page @ http://localhost:4546/incidents in the browser it was attempting to generate a page listing all the incidents. This is the page that @znmeb mentioned was using the processor.

I've corrected pagination, currently set to 10 on this view and can now load the browsable page.

I'm closing this issue, as initial concern

[2017-01-27 07:11] #35 closed

[2017-01-27 07:23] kielejocain opened #44 "Data Dictionary Followup Questions"
I have compiled a first pass at the [data dictionary](https://github.com/hackoregon/emergency-response/wiki/Data-Dictionary).  While I await feedback on what I have so far, there are also several questions I know we need answers to (or to be told the columns aren't relevant).  Some of these may be in notes I have yet to go through (tomorrow, hopefully).  Others we may need Mark to answer.

[ ] Wha

[2017-01-27 07:30] russellgould commented on #44
BOEC = Bureau of Emergency Communications

[2017-01-27 07:30] kielejocain commented on #24
I don't know about others, but your first bullet point was what I mostly had in mind.  It might be nice to report to the responders of an FMA what their zoning distribution looks like.  I also quite like your second idea; that could be one of the featured 'cards' we make for presentation night.

I know almost nothing about zoning data, unless it hasn't changed since the original Sim City (SNES ver

[2017-01-27 07:36] znmeb commented on #35
Awesome! When will the repo be updated?

[2017-01-27 07:59] BrianHGrant commented on #35
My development branch on fork is updated here: [https://github.com/BrianHGrant/emergency-response/tree/incident_api](url)

[2017-01-27 09:03] znmeb commented on #35
OK ... I can do a git pull ;-)

[2017-01-27 09:56] znmeb commented on #35
Works like a champ! It looks like you can run in 3 GB now:

![screenshot from 2017-01-27 01-53-54](https://cloud.githubusercontent.com/assets/4938/22366908/ccc09190-e433-11e6-9c60-e9d66ceccd51.png)

[2017-01-27 20:21] hannahkane commented on #40
looks really good. thanks for compiling.

[2017-01-27 23:29] futurechris commented on #40
Agreed - this will be really helpful. Perhaps link and pin in the main channel?

[2017-01-28 09:29] markawhitaker commented on #40
This is so great. I'll give it a look and see if I can clarify any items.

[2017-01-28 09:30] markawhitaker commented on #41
If you're looking for shapefiles on this, I believe we can provide them. Ryan should just contact our GIS analyst.

[2017-01-28 18:20] kielejocain commented on #40
Thanks, @markawhitaker! I compiled a list of questions I know I had in #44, but if you have the time to give it a once over that would be great, too.

[2017-01-28 18:32] sky-t commented on #37
Tables are uploaded to AWS instance but still need key constraints added.

[2017-01-28 18:45] sky-t commented on #25
I updated my notebook (https://github.com/sky-t/hack-or-emergency-response/blob/master/fire_dispatch_eda_incidents.ipynb) that looks at the incident description and incsitfoundclass for the full dataset. I'm happy to continue working on this issue in that notebook. What other aggregations regarding false alarm would you like? By year, by FMA, by fireblock?

[2017-01-29 20:56] russellgould commented on #33
Finally added a branch for this, and put in a pull request to merge my working repo into the new branch. I checked that the box works with the new uploaded DB as of today (in the shared drive "fire_db_2010") which we should be getting up on the AWS instance soon™.

[2017-01-30 06:23] sky-t commented on #37
This action is now complete. Full dataset is now on the AWS instance. However, there is one minor (I beleive) caveat. We were not able to implement this fkey constraint in the responder table ```FOREIGN KEY (Incident_ID) REFERENCES incident (Incident_ID)```  due to this error:
[code]
Looking at the inctimes table where incident_id 754223 also has row entries,  I believe the reason that this incide

[2017-01-30 06:35] sky-t commented on #26
During the 1/25 meeting Mark also mentioned an interest in response time vs type of incident. Specifically, it would be interesting for PF&R to understand whether response time differs if the incident is a medical call vs a fire call. Theoretically, PF&R should be at least be slightly faster for medical calls since the equipment requirements are fewer but there is a perception that fire responders

[2017-02-01 01:12] markawhitaker commented on #31
@futurechris Every time there is a structure fire, the fire report is supposed to include a section on whether or not the structure had a smoke detector and how it performed in the fire. That is the only data we collect on smoke detectors according to our Fire Marshal. I believe this data contributed to this article:
http://www.oregonlive.com/portland/index.ssf/2015/04/smoke_alarms_missing_in_30_o

[2017-02-01 01:21] markawhitaker commented on #44
quad2, streetname2, etc. are generally used to denote the cross street. The fields are most commonly used for responding to traffic accidents, where there is not a specific address, but more likely an intersection.

[2017-02-01 01:25] markawhitaker commented on #44
NFIRS= National Fire Incident Reporting System. This is administered by FEMA through state governments and is supposed to provide common data reporting system for fire and ems incidents across the country.

[2017-02-02 02:30] #1 closed

[2017-02-02 02:33] #7 closed

[2017-02-02 02:33] kielejocain commented on #6
As we have built a DB locally and there is no appetite for a central version, we can close this.

[2017-02-02 02:33] #6 closed

[2017-02-02 02:33] russellgould opened #46 "Remove References to Incident(s) Not Entered In incident Table"
Some records in tables other than the incident table have references to incidents initiated in 2009, and so the easiest route will just be to delete these referencing records.

[2017-02-02 02:35] #8 closed

[2017-02-02 02:38] #9 closed

[2017-02-02 02:45] hannahkane commented on #11
Closing in lieu of product statements on the wiki

[2017-02-02 02:45] #11 closed

[2017-02-02 02:57] futurechris commented on #12
* Consider normalizing based on population
* Once we've plotted this, let's consider what UX or functionality would be useful

[2017-02-02 03:00] hannahkane commented on #17
blocked by #13, #14, #15, and #16

+ we need to figure out how we're going to work with the folks in the Monday/Wednesday class

[2017-02-02 03:06] hannahkane commented on #19
Decided during 2/1 team meeting: we should serve data both raw and based on analysis

[2017-02-02 03:06] hannahkane commented on #20
See wiki

[2017-02-02 03:06] #20 closed

[2017-02-02 03:22] #33 closed

[2017-02-02 03:23] #34 closed

[2017-02-02 03:24] kielejocain commented on #40
It's did.

[2017-02-02 03:24] #40 closed

[2017-02-02 03:25] russellgould commented on #37
Blocked by #46

[2017-02-02 03:39] hannahkane commented on #13
cc @oskarradon

[2017-02-02 03:42] #42 closed

[2017-02-02 03:42] #43 closed

[2017-02-02 03:57] BrianHGrant opened #47 "Deployment and Integration Workflow"
Goal is to create a testing and deployment chain to continuously integrate features and changes into the API. Working model is to build api structure within a docker container to be eventually deployed to AWS. Development and testing environments should match production and create a automated testing system.

[2017-02-02 04:12] hannahkane commented on #28
@qingdatascience is going to start working on this :)

[2017-02-02 04:14] rcallihan commented on #41
The zoning shapefile is on our googledrive. Downloaded from CivicApps. https://drive.google.com/open?id=0B_RZuApNRm5uM0dyUjJfNkpubEE

[2017-02-02 17:46] russellgould commented on #46
Removed the initially apparent records referencing missing incident_id's, but a few more have popped up. I'll leave this issue open while I investigate what other tables might be referencing incident_id's not in the incident table.

[2017-02-08 20:46] BrianHGrant opened #49 "API design and deployment"
This is a meta issue to track api development

- [ ] Build a skeleton django restframework api
- [ ] Connect to existing postgres/postgis database
- [ ] Create models based on existing tables, verify relationships, datatypes
- [ ] Build Serializers matching models
- [ ] Build out viewsets to expose methods (read-only paths - list + detail)
- [ ] Set pagination for all views
- [ ] Authentication
-

[2017-02-08 21:51] BrianHGrant commented on #36
Opening new issue for specific questions

[2017-02-08 21:51] #36 closed

[2017-02-08 22:06] BrianHGrant commented on #44
These are some questions and issues that came up while exposing fireblock views in api:

- [x] Table has both an object_id and object_id_1 that are identical
- [x] Notes field - string of numbers, what is purpose?
- [ ] of_fma field - I ran a select query and all rows returned as null, is there a purpose?
- [ ] 'shape_star' and 'shape_stle' fields are both returning decimal.invalidOperation errors

[2017-02-08 22:59] meganmckissack commented on #15
Two options that showed up recently in the dataviz class and cartography session:
(https://github.com/PaulLeCam/react-leaflet)

(https://github.com/joehand/react-leaflet-geojson/blob/8c7416d878dab256f7fbb60b693dc9de7a8a17d3/src/components/map/GeoJsonUpdatableComponent.js)

[2017-02-08 23:10] znmeb commented on #15
I think Transportation is going with the second option - Joe was talking about it at the meeting last night.

[2017-02-08 23:33] stellarluminary commented on #17
Do we have any updates on that front? The channel's been pretty quiet and it looks like we're still waiting for the data team to solidify things?

[2017-02-08 23:35] rcallihan commented on #44
@BrianHGrant I can answer most of your questions. I'll update the data dictionary here shortly:

1) **Table has both an object_id and object_id_1 that are identical.** <--Both of these are relics from the original db (geodatabase) this layer was stored in. They can be removed.
2) **Notes field - string of numbers, what is purpose?** The notes field is the run order for a given fire block. Each num

[2017-02-08 23:50] meganmckissack commented on #17
@lunarnightlight, you might check in about a map component but there's no wireframe in place yet

[2017-02-08 23:53] stellarluminary commented on #17
@meganmckissack David's leading the Data Viz class through developing a map component this week.

I just ask because it looks like only @flamingveggies is able to regularly attend the ER meetings; the junior devs at least are either in React or Data Viz, which meet Mondays and Wednesdays.

[2017-02-08 23:56] meganmckissack commented on #17
@lunarnightlight got it.  We'll need a bit of direction from a design point I think first but we can also communicate on Tuesdays at front end build sessions.

[2017-02-09 00:02] stellarluminary commented on #17
@meganmckissack You know, that's actually a good idea! I was wondering if the ER front end team would need our own party meetup. Or start a group discussion on the HackUniversity Slack channel since most of us will be over there instead of the ER channel (at least for now).

[2017-02-09 00:06] hannahkane commented on #17
+1 to adding a second night for front-end if we need to; though I think we're at least a week or two away from being ready for that

[2017-02-09 00:08] stellarluminary commented on #17
@hannahkane Yeah, I'm not too worried about being left out of the loop right now because it looks like we're just not there yet. I mean, almost all of our project issues have to do with the data team.

[2017-02-09 00:10] hannahkane commented on #17
@lunarnightlight - yup, plus we'll need a bit of time to figure out some product and UX stuff, too, to give the front-end work some direction. Wireframes coming soon!

[2017-02-09 00:11] stellarluminary commented on #17
@hannahkane It's all good. This is just par for the course for any data project.

[2017-02-09 01:34] qingdatascience commented on #28
I found the sql scripts for moon phase https://mudlthru.wordpress.com/tag/sql-datetime/  and  holidays  http://www.joebooth-consulting.com/sqlServer/sqlServer.html#CalendFunc   Not sure how to insert into my query.

[2017-02-09 03:45] rcallihan commented on #41
I've uploaded a newer version that has more standardized zoning.

[2017-02-09 03:46] #41 closed

[2017-02-09 03:48] futurechris commented on #31
@markawhitaker, we are grabbing census data for the following categories, to include in the FMA dashboard:
- Sex, Age, Race, Language, Household Income, Types of health insurance

Would you also be interested in any of these?
- Occupation (broad categories)
- Geographical mobility (whether they’ve moved in the past year)
- Travel time to work (can be broken down by mode of transportation, too)
- M

[2017-02-10 05:02] markawhitaker commented on #31
Others of interest would include: geographical mobility, households with people over 60, educational attainment, limited english speaking households, poverty status, and food stamps. Year structure built might also be interesting from a fire prevention stand point, but I'm thinking the City might have better data on that than the Census. Thanks!

[2017-02-10 19:45] hannahkane opened #53 "Ideas for infographics"
Let's use this ticket to drop in ideas for interesting stories we can tell with an infographic.

[2017-02-10 19:45] hannahkane commented on #53
Showing the frequency of calls routed to the PF&R, broken down by type of call, might be interesting to the general public.

[2017-02-13 06:35] sky-t commented on #44
I'm not sure why max_digits of such high numbers occur for shapefiles or if we can change that upon importing into the db. I will research this.

BTW, I added descriptions for the fcb_proportion and fmac_proportion to the data dictionary.

[2017-02-15 22:00] futurechris commented on #26
Just adding myself in. I've been working on "TotalOnSceneTime" when I've found time over the last couple days, though what I'm working on should be able to produce most of these. I understand @matthino is doing something similar, so hopefully we can compare notes at tonight's meeting.

[2017-02-16 02:09] flamingveggies opened #56 "no beer"
why do the other groups always seem to have beer?

[2017-02-16 02:56] BrianHGrant commented on #47
Creating smaller tasks

[2017-02-16 02:56] #47 closed

[2017-02-16 02:56] BrianHGrant commented on #29
Swagger will be implemented into api as living documentation

[2017-02-16 02:56] #29 closed

[2017-02-16 03:00] russellgould commented on #46
Fixed erroneous rows from inctimes table with realtime fields prior to 2010. Specifically some rows were written with a date of 2001 when (we assume) they were meant to be in 2011.

If we find more "dirty" data we can reopen, but will close this issue for now.

[2017-02-16 03:00] #46 closed

[2017-02-16 03:02] russellgould commented on #37
Fixed #46 and will consider this now done.

[2017-02-16 03:02] #37 closed

[2017-02-16 03:52] futurechris opened #57 "Does the data change interestingly with time?"
Analytics question from product team.

[2017-02-16 04:19] sky-t commented on #30
This task is now complete. The lookup tables are: fcb_proportion and fmac_proportion

[2017-02-16 04:20] #30 closed

[2017-02-16 04:21] hannahkane commented on #56
what kind of beer do people like?

[2017-02-16 04:23] hannahkane commented on #56
also, if anyone is uncomfortable with a beer-y environment, please feel free to let me know in a private chat.

[2017-02-16 04:56] sky-t commented on #21
See [here](https://github.com/sky-t/hack-or-emergency-response/blob/master/census_eda.ipynb) for update on income distribution metrics by FMA

[2017-02-18 09:23] BrianHGrant opened #58 "Database permissions"
With user: eruser

api is getting:

permission denied for relation census_race

when inspecting the database and attempting to build updated models

[2017-02-18 16:35] russellgould commented on #58
Running the query:

`GRANT SELECT ON ALL TABLES IN SCHEMA public TO eruser;`

within the fire db and with admin permissions should fix the issue. @sky-t or @kielejocain have those credentials.

[2017-02-18 20:16] kielejocain commented on #58
I ran that as eradmin.  @BrianHGrant , if it worked feel free to close.  If not, let me know and I'll see what else I can do.

[2017-02-18 20:32] BrianHGrant commented on #58
Thank you. Error is still occurring, though might be taking some time to refresh the system. @kielejocain, I will give some time and attempt again, will let you know if still failing.

Here is the stack trace though:

[code]

[2017-02-18 22:18] kielejocain commented on #58
I tried running it again as eradmin, making sure I was in the fire.public schema.  I then connected as eruser and queried `select * from census_race limit 10` and got a response.  Hopefully the issues is truly resolved now; if not, I suspect the cause may be something different.

[2017-02-18 23:37] BrianHGrant commented on #58
I was able to successfully run. Closing issue. Thanks again @kielejocain and @russellgould.

[2017-02-18 23:37] #58 closed

[2017-02-21 00:30] sky-t commented on #58
Sorry, my bad on this issue.  I forgot to grant select all permissions after adding this particular table.

[2017-02-22 04:53] qingdatascience commented on #28
Finished exploratory analysis, uploaded Notebook.

[2017-02-22 04:53] #28 closed

[2017-02-22 05:00] qingdatascience commented on #57
I split the incident counts by year. They have similar pattern, just get bigger. If we need to check the aggregation of travel time and on-scene time by year, I can do it later.

[2017-02-22 17:31] #19 closed

[2017-02-22 23:58] sky-t commented on #38
Update: the following tables of census data now exist in the db:

* census_household_income
* census_household_language
* census_households_65plus
* census_housing_tenure
* census_median_household_income
* census_race
* census_total_population

The data dictionary has been updated with descriptions. At this point, the only other tables I plan to add data from are:

* B27010 - TYPES OF HEALTH INSUR

[2017-02-23 01:48] znmeb commented on #38
I believe the Housing team has Census data - they've been working with Portland State on it. If not, I can point you at some tools for getting it.

[2017-02-23 02:47] hannahkane commented on #56
![beer](https://cloud.githubusercontent.com/assets/8389648/23242709/3eb9ab6e-f92f-11e6-8e22-685b158ee452.JPG)

[2017-02-23 02:47] #56 closed

[2017-02-23 03:44] hannahkane commented on #53
Showing the "lifespan" of a Fire Bureau call, from 911/dispatch all the way through the process

[2017-02-23 03:44] hannahkane commented on #53
Showing the "lifespan" of a Fire Bureau call, from 911/dispatch all the way through the process

[2017-02-23 04:01] hannahkane commented on #31
@markawhitaker - Cat's here and she's wondering if we have any data about when an incident involves a death?

[2017-02-23 04:03] hannahkane commented on #31
@markawhitaker - another question - do we track whether the incident involves children?

[2017-02-23 04:13] hannahkane commented on #53
Animal rescue stats!

[2017-02-23 04:33] hannahkane opened #59 "Compare average response times across FMAs"
Take computations from #26 and plot on a map of FMAs, so we can see interestingness.

[2017-02-23 04:35] hannahkane commented on #26
Please also compute these per FMA

[2017-02-23 04:35] hannahkane commented on #27
Also, per FMA, please

[2017-02-23 04:38] hannahkane opened #60 "Plot # of incidents per FMA"
Take calculations from #27 and plot on a map of FMAs. Allow user to select a time frame.

[2017-02-23 04:43] hannahkane commented on #25
Let's look at false alarms by FMAs.

@markawhitaker - we're trying to remember what your interest in false alarm data was. Can you help us recall if you had a specific question here?

[2017-02-23 04:43] rcallihan opened #61 "Compute building count metrics"
- Per Fire Block (Can be rolled up to FMA)
    - Building count
        -Total count
        -Per zoning type
    -Building Square Feet
        -In total
        -Avg
        -Per zoning type (maybe per land-use?)
             -In total
             -Avg
    -Floors (stories)
        -Max and Avg

- Per Fire FMA
    -Building Square Feet
        -In total
        -Per zoning type (maybe per land-u

[2017-02-23 04:44] futurechris opened #62 "Explore what good options are for displaying FMAs/other geo data in a Python notebook"
Just something to easily display data, for exploration.

Ideally it would be able to work with data from the DB or local stuff, dataframes, etc.

[2017-02-23 04:45] futurechris opened #63 "Create example notebook demo-ing FMA display from #62"

[2017-02-24 17:54] sky-t commented on #38
@znmeb, thanks for your offer. I actually think we're good on the census data we've cherry picked so far for our purposes, but will reach out if our needs change again.

Team, I've uploaded all the tables I believe we'll need at this point. They are now named as such in the db:
* census_health_insurance
* census_poverty_status_individuals
* census_food_stamps
* census_educational_attainment
* cens

[2017-02-24 19:13] rcallihan commented on #62
Scott and I are tag teaming this. The idea is to find something easy to use that allows us spatially explore a variety of variables associated with the Fire Block or FMA. Our criteria is to find a library/method that allows for:

- Choropleth map display in a notebook. Ideally, the category/binning of color values in the display would be an easy set up.
- Easy installation within our current pytho

[2017-02-28 00:59] qingdatascience commented on #57
I checked the Response_Time and OnScene_Time from 2010 to 2016. Response_Time did not change very much, but OnScene_Time seems to get shorter each year.  I uploaded the notebook containing the analysis and plot. I will close this ticket for now.

[2017-02-28 01:18] futurechris commented on #57
Oops, I meant to reply to this. I looked through your notebook last week, looks great. It's nice to see some data plotted, so we can start to get an idea of what the data contains (even if it's 'exactly what we would expect').

I had two comments I wanted to leave:
* Should we be normalizing?
* Did you check whether results were different when you split by incident type (fire vs. medical)?

----

[2017-02-28 01:28] datascienceqing commented on #57
Good suggestions. I will look into it.

[2017-02-28 06:36] sky-t commented on #38
[Data dictionary](https://github.com/hackoregon/emergency-response/wiki/Data-Dictionary) is now updated with all imported census tables and I'm closing the ticket at this point.

[2017-02-28 06:36] #38 closed

[2017-02-28 17:05] markawhitaker commented on #31
@hannahkane We keep track of when an incident involves a fire death. We do not have data on EMS incidents and deaths.

We also collect ages for each patient involved in an EMS call.

[2017-02-28 18:40] markawhitaker commented on #25
@hannahkane The general goal is to better understand the fire alarm "problem." Is there a rationale for creating policies to reduce commercial fire alarms, such as they occur so often that it's becoming a workload issue or affecting PF&R's ability to respond to other incidents?

Are false alarms concentrated in certain FMAs that would allow for targeted education and or enforcement in that area?

[2017-02-28 18:41] hannahkane commented on #25
Thanks, @markawhitaker. This is a really useful problem statement. We'll see if we can tackle it.

[2017-02-28 23:27] futurechris commented on #26
@markawhitaker I ran into a question when computing TotalOnSceneTime: Should we calculate it for each responder or per incident? Both?

E.g. incident_id 855800 has two responders.
OnScene times are respectively 19:13:53 and 19:21:10
Clear times are respectively 19:30:49 and 20:14:05.
If TotalOnSceneTime is from (first on scene) to (last clear), then it would be 1 hour 8 seconds.
If it's per-respon

[2017-03-01 22:07] sky-t commented on #63
I tried out geopandas and geoplot in this notebook just merged to analytics. I found them pretty easy to use: https://github.com/hackoregon/emergency-response/blob/analytics/notebooks/census_eda_geo.ipynb

[2017-03-01 23:43] futurechris opened #65 "Update data dictionary entry for fblocks table to match current database"
In the data dictionary right now, the description of the `fblocks` table doesn't seem to match what I'm seeing in our database.

The dictionary describes 6 columns, whereas the database table has 15 columns. There doesn't seem to be an obvious mapping between the two. E.g., dictionary mentions 'FID', but the table has 'gid', 'objectid_1', and 'objectid'.

The table is probably still usable, but I

[2017-03-01 23:50] markawhitaker commented on #31
@hannahkane To follow up, if you're interested in patient ages and/or fire deaths, I can provide tables that link them to the IncidentID.

[2017-03-02 00:02] markawhitaker commented on #26
@futurechris Not to be difficult, but both could be useful depending on the analysis. If we're looking at total workload or availability for individual companies, then total on-scene time for each separate apparatus would be useful, and every unit response would have a separate total on-scene time.  But in another analysis, (such as a medical call where the goal is to usually assess, stabilize, an

[2017-03-02 00:14] hannahkane commented on #31
thanks, @markawhitaker. Let me ask the team about it tonight and we'll get back to you.

[2017-03-02 00:35] kielejocain commented on #65
It's not clear to me how `fblocks` is laid out; I was not the one that put those tables in the dictionary.  Based on the edit history of the table, @rcallihan did the initial work, and @sky-t editted some from there.

For what it's worth, I used `incident.fmarespcomp` in what I've done for incident priority analysis (which I'll upload tonight after some discussion).

[2017-03-02 00:40] markawhitaker commented on #65
I'm not familiar with the `fblocks` table. If it came from @rcallihan then its likely from our GIS analyst, and I can check with her tomorrow.

That said, I think `incident.fmarespcomp` and `incident.fireblock` should be sufficient for mapping?

[2017-03-02 01:51] rcallihan commented on #65
@futurechris Many of those fields are unnecessary relics as the file transitioned from various data formats. It is referenced here #44  . We should remove those extra fields from the db to avoid confusion. Maybe @BrianHGrant can help here.

Also, you are correct, `fblocks.resp_zone` does join to `incident.fireblocks`. I've updated the dictionary to reflect this. One thing to note, is the fireblock

[2017-03-02 02:53] hannahkane opened #66 "Visualize the anatomy of an incident"
For example, illustrate the comings and goings of the various responders to the gas explosion on NW 23rd on October 19th (incident _id = 1281359)

@matthino's suggestion: could use this to educate users about the various definitions and nuances of "response time"

[2017-03-02 02:56] rcallihan opened #67 "fblocks.resp_zone not joining to incident.fireblock"
The fireblock geometry table does not join to the to fireblock field in the incident table. There at least two (possibly more) reasons:

- The `incident.fireblock` values have extra spaces padded on the right (at least two).
- There are possibly some typos in the incident.fireblock values. (if you remove spaces, there are still ~138 more unique fireblocks in `incident.fireblock` than in `fblocks.r

[2017-03-02 03:04] rcallihan commented on #67
There's a related issue here of many fields in the incident table having trailing spaces. Possibly warrants a separate issue @sky-t @russellgould ?

[2017-03-02 03:12] kielejocain commented on #27
@markawhitaker I expected most incidents would be lowest priority, but not 99.9% of them.  I get the following counts:

0: 1
1: 544,482
2: 548
3: 20
4: 3
5: 2
9: 1

Do these seem reasonable to you?  Is it true that almost all incidents are alarmlevel 1?  Am I looking in the wrong place?

[2017-03-02 03:24] futurechris commented on #67
Also just in general, a question here which we should maybe open as a separate ticket: should we be cleaning all this stuff in our database, or should we be helping Mark do so and then we all benefit from the cleaned data?

@matthino has been finding some strange data re:FMA entries (instead of integers with values ~0 through ~30, getting 'GRESHAM' or '210' or something). Do we clean it? Just drop

[2017-03-02 03:44] kielejocain commented on #23
@futurechris Do we want this by something other than census block?  FMA, perhaps?

[2017-03-02 03:50] futurechris commented on #26
Makes total sense, thanks.

I think we'll start with collective time, since it's a more straightforward metric to compute. Then we'll add individual metrics as we're able, and as our analytical tools mature.

[2017-03-02 03:59] futurechris commented on #23
If we're able to do FMA, and maybe fire block, I think those would both be good.

I understand there's been a bit of trouble with finding a principled and statistically valid/reasonable way to map from census block to FMA. There are "objective" approaches, but they aren't going to produce great data.

My guess is we'll have to just pick something and go with it, then thoroughly document our assump

[2017-03-02 04:03] hannahkane commented on #31
@markawhitaker - if it's relatively simple to get that data, we'd like to take a look at it.

[2017-03-02 04:19] qingdatascience commented on #57
I updated the time rollup notebook. Just check the fire and medical incidents in different months, I normalized by number of day for different months.

[2017-03-02 04:42] hannahkane commented on #32
heat map

[2017-03-02 22:32] markawhitaker commented on #31
@hannahkane  I'm putting an Excel file on the google drive with two tabs:

1) Fire Deaths:  `Incident_ID` and `FireDeaths`. Pretty straight forward with the Incident ID and the number of fire deaths at that incident. There were 37 fire deaths in Portland between 2010 and 2016, and there are 36 rows here because one incident had two fire deaths.

2) Patient Age: `Incident_ID`, `Age`, and `Gender`.

[2017-03-03 04:41] #65 closed

[2017-03-03 04:42] sky-t commented on #67
@russellgould cleaned the incident table (extra spaces from the varchar fields) so hopefully the join is working now. Has anyone else observed any other fields in any tables with extra spaces?

[2017-03-03 05:47] sky-t commented on #62
Merged a notebook into the analytics branch that test runs geopandas and geoplot for mapping. I think it's a pretty cool toolset and meets the criteria that Ryan listed (the catch is that it doesn't seem to run on python 3.6 yet so I had to create a 3.5 kernel to run it in Jupyter: https://github.com/hackoregon/emergency-response/blob/analytics/notebooks/census_eda_geo.ipynb

[2017-03-03 05:48] russellgould commented on #67
I did! And actually @rcallihan said the join worked afterwards so I'll close this issue since it's resolved. If there are any other problems that pop up involving extraneous spaces feel free to open a separate issue and assign me and I'll get on it!

[2017-03-03 05:48] #67 closed

[2017-03-03 05:53] russellgould opened #70 "Data Cleanup"
As @rcallihan and @futurechris mentioned in #67 there have been some odd fields found in the data. Feel free to post whatever you find here so we can discuss in a central location.

[2017-03-03 16:55] hannahkane commented on #31
thanks, @markawhitaker!

[2017-03-06 07:41] BrianHGrant commented on #60
I have been working on building some geo based queries. An example endpoint I have is:

http://localhost:8000/fma/incidents/?lon=-122.677345&lat=45.520697&start_date=2016-10-19&end_date=2016-10-19

This will return incidents for the fma containing a certain point, filtered by the date range.

http://localhost:8000/fma/incidents/?lon=-122.677345&lat=45.520697

will return all incidents for the fma.

[2017-03-06 09:21] BrianHGrant commented on #70
Incidents are joined to Alarmlevels based on a 'alarmlevel_id' primary key. Alarm level 'description' and 'id_911' fields begin at 0 while 'alarmlevel_id' begins at 1 ie:

{
      "alarmlevel_id": 1,
      "description": 0,
      "id_911": 0
},

Can these be made to match, prevent possible off by one errors?

[2017-03-06 18:29] russellgould commented on #70
It definitely could be done, but I'm not sure if it should be. I only hesitate since it's not exactly an error, rather just a semantic issue with how PFR decided to design their DB. I can look into it to see if it would matter at all to change on our end, though that might not be until our next meeting Wednesday.

[2017-03-06 20:07] BrianHGrant commented on #70
I see, I was not sure if this was something we had added, if it is in the original db, I'd be inclined not to change as well. As you said more of semantics, which can be handled on the frontend.

[2017-03-06 22:41] futurechris commented on #60
My inclination is towards separate endpoints for raw data and analytical results. Separating raw and processed data lets API users avoid having to download incident data they may not need just to access the FMA roll-up statistics.

That said, I'm not sure we want to extend that to separate endpoints per roll-up.

I expect the ratio of wanted:unwanted data is acceptable with a single "give me all t

[2017-03-07 07:07] sky-t commented on #22
Updated a notebook to look at median response time vs various demographic metrics. I think I may have found something interesting (response time may have some relationship w/ socioeconomic  status) that we can discuss on Wed and may merit further investigation: https://github.com/hackoregon/emergency-response/blob/analytics/notebooks/census_eda_geo.ipynb

[2017-03-08 03:17] BrianHGrant commented on #70
Just going through building endpoints for the raw data, here are the questions/possible issues I came across. Listing here so we can discuss at meeting (though markdown might not display them):

1. should there be a join between incident.foundsituation and situationfound.situationfound_id?

2. typenaturecode has trailing spaces on description, id_911:

   {
      "typenaturecode_id": 1,
      "des

[2017-03-08 06:28] russellgould commented on #70
Awesome! Thanks for this, I thought I trimmed all of the descriptions, so I'll see what the deal is...

[2017-03-09 01:14] rcallihan commented on #61
I added two files to the GoogleDrive: FMA_Building Count Metrics.csv and Fireblock_Building Count Metrics.csv

In QGIS intersected [Portland Building Footprints](http://www.civicapps.org/datasets/building-footprints-portland) with our zoning layer and Fireblock/FMA layer. The two files here have aggregated values per Fireblock and per FMA. The schema of each zone is roughly the same. If these tabl

[2017-03-09 02:06] kielejocain commented on #60
Sorry for the delayed response.  My inclination would be the opposite, but it may be better categorized as a first instinct; I don't know the impact on performance (for example).  I'm not in a position to argue either side, and am happy to defer.

[2017-03-09 03:05] russellgould commented on #70
Removed all that whitespace. Let me know if anyone finds any more

[2017-03-09 04:01] hannahkane opened #72 "Get incident rates for each FMA"
For Fire, it should be # of incidents per household, and per sq mile
For Medical, it should be # of incidents per capita, and per sq mile

We'll use this to compare response times across FMAs

[2017-03-09 04:09] qingdatascience commented on #66
I will try to compute some metrics related to this incident.

[2017-03-16 21:02] rcallihan commented on #25
I am working on a notebook for this issue. Can be found [here.](https://github.com/hackoregon/emergency-response/blob/analytics/notebooks/False%20Alarm_Exploration.ipynb)

[2017-03-16 21:26] BrianHGrant commented on #66
Based on this document:

https://docs.google.com/document/d/1HI9nmg3PAHEtctEtipIVkCF7W185helYNW7cglsO0pk/edit#

I have begun to look at what we would need to accomplish the related Card #1 Bagel Shop Incident from an API stand point, and have come up with a few user stories:

1. A user will want to be able to query the api for all the data about a given incident using a specified characteristic (i

[2017-03-18 19:39] BrianHGrant commented on #18
any auth needs will be taken care of through the aws cloud architecture and programatic limits

[2017-03-18 19:39] #18 closed

[2017-03-18 19:52] BrianHGrant commented on #60
The api has implemented a query param on get('/fma/incidents/') endpoint, in addition to the 'lat' and 'lon' and 'start_date' and 'end_date' params, will also take a 'totals' param. If totals if false or not present, will return:

data : {
incidents : {
incident_1...
},
total_incidents : number of incidents
}

if totals == True

then will just return:

data : {
total_incidents : number of incident

[2017-03-20 18:22] futurechris commented on #66
Good work, Brian.

I think it's still unclear whether the card in question would actively pull data or just reference a static table of some sort, but either way these endpoints will likely be valuable for other cards and exploration.

We should discuss the questions during a meeting, but a quick rundown of my opinions on them:

1. I think a separate endpoint works fine. The API hasn't grown to a

[2017-03-23 00:53] BrianHGrant opened #74 "Pagination"
Due to size of query sets (returned data) I have turned on pagination for the larger endpoints, mostly those returning the incident data.

Incidents use:
class StandardResultsSetPagination(PageNumberPagination):
    page_size = 50
    page_size_query_param = 'page_size'
    max_page_size = 100
Meaning:
default return is 50 results, user is able to override up to 100

Other endpoints with smaller m

[2017-03-23 01:55] hannahkane opened #75 "Write queries to create demographic rollup tables by FMA"

[2017-03-23 01:58] hannahkane opened #76 "Write end points for API for demographics and domain stats"
Blocked by #75

[2017-03-23 02:00] hannahkane opened #77 "Create tables for domain stat rollups"
We're looking for:
 - average response times per FMA
 - average # of incidents per week per FMA

[2017-03-23 02:26] sky-t commented on #75
Per discussion with @BrianHGrant, I'll put all demographic rollup data into a single table that can be hit by the API. @futurechris will also add the response time rollups to this table.

[2017-03-23 02:28] sky-t commented on #62
I think we've demonstrated that geopandas works pretty well for this purpose. Closing this issue out.

[2017-03-23 02:28] #62 closed

[2017-03-23 02:29] #63 closed

[2017-03-23 02:30] futurechris commented on #77
In general, we want to compute response times ( #26 ) and then dump them into a table with FMA ID as primary key.

This will be the same table where we store the FMA-specific demographic stats for #75.

Mostly, this is straightforward, but there are two important questions to be answered:
1. Do we want to compute just the per-incident values (total time on scene counting all responders), or do we

[2017-03-23 06:44] sky-t commented on #75
@BrianHGrant @futurechris , I created a new table named `fma_api_rollup` in the db and have started populating it with demographic data by FMA. I have median response time by FMA and will add that as well.

[2017-03-23 21:12] sky-t commented on #75
`fma_api_rollup` table is now populated with the following demographic data:  total population, % owner occ, % renter occ, median hh income, % with health ins, % w/o health ins, % college grad or higher, % rec food snaps, % nonwhite, % below pov line, % hh w/ member 65+, % in diff area last year

[2017-03-23 21:12] #75 closed

[2017-03-23 21:49] matthino commented on #77
@futurechris The suggested initial answers sounds good to me.

As far as "average" goes, are we still going to use the median?

[2017-03-23 22:01] futurechris commented on #77
Yeah, I think median is probably more appropriate - we were just using 'Average' conversationally, hard habit to break.

In support of median: NFPA standards say "<6 minutes for 90% of calls", so 'median-style' metrics are already appropriate for the domain.

For that matter, we could actually mention the NFPA standard somewhere in the UX, might be interesting to users. I think PF&D handily beats

[2017-03-26 02:43] BrianHGrant commented on #75
Thanks, was able to inspect the tables and looking good. Will have endpoint created shortly

[2017-03-26 20:37] qingdatascience commented on #66
I updated the bagelshop notebook. Basically, I just displayed the responders list. Unfortunately, I did not find any descriptive description in the database. They are just bunch of codes, I don't know what they really means.  Bagelshop incident is not anything that is typical, the mean/median response time is longer than usual. So I went ahead to calculate the mean/median response time for other i

[2017-03-26 21:23] futurechris commented on #66
When you calculated mean/median response times for the bagel shop incident, were you calculating it over all responders, or per-responder? (I forget how much information we have about when someone is dispatched and when they arrive...)

I'm thinking that overall response times may have been long because:

- responders had to come from further away
- the incident changed, and changed in severity as

[2017-03-27 19:53] qingdatascience commented on #66
The mean/median response times for the bagel shop incident were calculated over all responders. The mean/median response time is longer is due to the fact that there were many other type of activities related to this incident, such as investigators, ..., and they were all counted as responders. I discussed this problem in the notebook, and I also calculated the mean/median response time for other

[2017-03-27 20:04] qingdatascience commented on #25
I did another analysis using tree base model to screen those categorical variables in the incident table. The preliminary results showed that those auto-alarms are the major culprits. I went ahead to use it to search the fire blocks, and listed top 10 relevant fire block codes. Hope this information combined with Ryan's analysis can shed some insight into this issue. Notebook is [here](https://git

[2017-03-27 21:37] rcallihan commented on #25
Nice work, @qingdatascience! It would be nice to distill our findings into a few key pieces of digestible and useful information to PF&R. For example, we should translate the results of the random forest classifier to language meaningful to the PF&R.  I'll hopefully work on this Saturday. I'd be happy to use your help, if you're around.

[2017-03-27 23:37] datascienceqing commented on #25
Thanks. I can spare some time on Saturday.

[2017-03-27 23:39] qingdatascience commented on #25
Sure. I can spare some time on Saturday.

[2017-03-30 01:26] hannahkane opened #78 "Figure out how to know what vehicle types showed up at an incident"

[2017-03-30 03:08] kielejocain commented on #23
Handled in https://github.com/hackoregon/emergency-response/commit/7ec6bf3858ed0c18956e5a0cb3deee9a8907e16e.  (cf. [census_eda_geo.ipynb](https://github.com/hackoregon/emergency-response/blob/analytics/notebooks/census_eda_geo.ipynb))

[2017-03-30 03:08] #23 closed

[2017-03-30 03:55] sky-t commented on #77
I added median_response_time by FMA to the `fma_api_rollup`. Next onto average # of incidents per week per FMA.

[2017-03-30 04:39] futurechris opened #80 "Create a fully de-normalized dump of the bagel shop inctimes"
No sense obfuscating the data for a designer.

[2017-03-30 04:42] futurechris commented on #80
Created [this](https://docs.google.com/spreadsheets/d/1R3RaX2e3YLESW4sLpT3cT0v6HYSBv4B00STcor4b6oI/edit#gid=0) earlier, @hannahkane helped fill in the manually-added data.

We should create a table that has these entries, but it's a bit tricky. I'll create a ticket.

[2017-03-30 04:42] #80 closed

[2017-03-30 06:31] sky-t commented on #77
Updated `fma_api_rollup` to include average number of incidents per week by FMA. Going to close this ticket now unless you guys want to add anything else.

[2017-03-30 06:31] #77 closed

[2017-04-06 01:54] hannahkane opened #81 "What else was happening during the bagel shop incident?"
Can we get a list of incidents that occurred during the bagel shop incident? Then, can we look at the response times for those incidents and compare to the average response time?

[2017-04-06 02:06] sky-t opened #82 "Determine if there was any difference in PF&R response time during the two days of the bagel incident."

[2017-04-06 02:50] hannahkane commented on #31
hey @markawhitaker - we're wondering what "good intent" calls are.  can you help us out?

[2017-04-06 02:51] hannahkane commented on #31
Also, we'd like to know what "service calls," "natural conditions," and "mutual aid response" are. Thank you!

[2017-04-06 03:29] #70 closed

[2017-04-06 03:30] #21 closed

[2017-04-06 03:45] futurechris commented on #31
@markawhitaker Relatedly, we're wondering how PF&R defines medical vs. not. We split calls into classes and "medical aid / rescue calls" are pretty distinct, but do you lump "good intent", "false calls", "service calls", "fire/explosion", and "hazardous conditions" under "fire"?

I.e., when you say "X% of our incidents are actually medical calls", do you then say "100-X% are fire", or ... How do y

[2017-04-06 03:48] sky-t commented on #72
I'll calculate metrics for 3 incident categories: Medical, everyone non-Medical, and FIRE/EXPLOSION incidents only (excluding the other non-medical categories).

[2017-04-08 19:48] futurechris commented on #78
Proposed solution: create a new table that maps from responderunit.responderunit_id to a long description, based on the sheet Mark provided for us (here: https://drive.google.com/drive/u/0/folders/0Byy4RAOeNM0yTTdTc1ZGelFKUWc )

To translate these, responderunit.description (e.g., "M300") becomes a long-form nice description like "AMR Ambulance 300" (example - not sure this is a correct mapping).

[2017-04-08 21:02] futurechris commented on #31
@markawhitaker Another question: What is the distinction between 'Battalion Chief' and 'Chief', in unit types?

We know there are 4 BCs on duty at any time, but haven't been able to get an understanding of what role 'Chiefs' play.

[2017-04-11 15:48] markawhitaker commented on #31
@hannahkane Good intent calls generally cover those calls where it turns out that there is not really an emergency. Some examples include: arriving and not finding a victim or incident; controlled, legal burns; steam or gas mistaken for smoke; an expected hazmat incident where it turns out the material is harmless.

Service calls cover a lot of the services that firefighters provide outside of fir

[2017-04-11 15:57] markawhitaker commented on #31
@futurechris For classifying calls, we generally provide three categories: fire, ems/rescue, and other. So the other category would include the hazmat, good intent, false calls, etc. Depending on whether you're basing it on initial dispatch or situation found, the percentage breakdowns differ.

On dispatch, initial type code the split is roughly: 13% fire, 78% medical/rescue, 9% other.

Based on s

[2017-04-11 16:11] markawhitaker commented on #31
@futurechris the BC is part of the on-duty staffing and is largely expected to take over incident command on large incidents. For example, all fires are supposed to have a BC on scene and the BC is considered part of the effective response force.

Chief responses are much more variable, I generally drop them from the analysis. On very large incidents, they'll set up incident command and expect all

[2017-04-14 19:28] futurechris opened #83 "Fill in some data gaps for the 4/12 content draft"
These questions are from https://docs.google.com/document/d/19ha8W6b8GXKGgO_vsyM71khuFHZcFKFCX2oAh7-MVKk/edit#

Might be a little tricky to match the work below to actual editing, if changes are made, but just comment if you run into trouble.

**Section "What does Portland Fire & Rescue do?"**
- [x] "13% of the calls Portland Fire & Rescue responds to are fires*? The vast majority (78%)".
  -  I f

[2017-04-14 19:42] futurechris opened #84 "Compute and add median per-FMA response times for medical vs. fire"
- [x] Compute median response times for both types
- [x] Add them to `fma_api_rollup` table as two new columns

Basically create a notebook with these calcs, put it in the analytics branch with comments about how it became our final data, noting any decisions we made about how to handle data/outliers.

Might be useful to roll the original combined-medical-fire data computation in this notebook, if

[2017-04-14 19:52] futurechris opened #85 "Document the procedure we used to produce each piece of aggregate data we're presenting"
To be as open as we can about what analyses we did, how we handled the data, etc., I think we should make sure everything we do has a notebook available in the analytics repo with comments, etc.

Our process has been:
* Explore data via jupyter notebooks
* When we find cool stuff, discuss it and decide if it's worth including in our final presentation/product/demo
* Then we dump it into an interme

[2017-04-19 19:55] BrianHGrant opened #88 "Database Data types for fma.fma/fm_api_rollup.fma"
So I believe the fma number (fma column) in these tables is saved as a char field. As such if someone searches for fma 1 vs fma 01 , they will be returned "not found". Can we change these to number fields so the leading 0 will not affect searches?

[2017-04-20 03:49] sky-t commented on #88
I'll fix this!

[2017-04-21 16:50] sky-t commented on #88
@BrianHGrant, converted the fma column to integer in the fma_api_rollup table. Let me know if you need anything else.

[2017-04-23 21:29] BrianHGrant commented on #88
@sky-t ,The fma.fma column needs to be changed to integer as well, causing an error when doing a join.

[2017-04-24 04:54] sky-t commented on #88
Sorry bout that. Check it again.

[2017-04-24 04:54] #88 closed

[2017-04-27 19:45] futurechris commented on #83
I've computed the median times (for the 5th check-box), but I'm a bit perplexed. My previous computation had the median as 4m31s, but now I'm getting 4m35s. Not a huge difference, and it's likely explained by the new calculation (with Kyle's help) removing all the entries that didn't have dispatch & onscene entered. Previously we had a handful of "-731 day" response times. These outliers were most

[2017-04-27 19:45] #83 closed

[2017-05-10 19:43] futurechris commented on #84
Ended up also re-calculating the 'overall' median per-FMA response times, to make all three have the same normalizations/cleaning/etc.

[2017-05-10 19:43] #84 closed

[2017-05-10 19:45] futurechris commented on #72
Believe this is complete, now.

[2017-05-10 19:45] #72 closed

[2017-10-12 02:44] #57 closed

[2017-10-12 02:55] #32 closed